@tailwind base;
@tailwind components;

/* Begin tailwind customizations */

html {
  @apply font-ubuntu;
}

body {
  @apply bg-fixed bg-gradient-to-tr from-yellow-300 to-green-200;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #68d391;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #48bb78;
}


/* end tailwind customizations */

@tailwind utilities;
